body {
  background-color: #efe3c1;
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 5vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
}

.boulder-ruby-logo {
  margin-bottom: 1rem;
}

ul.sponsors-list {
  list-style: none;
  text-align: center;
  margin: 5% 0;
  width: 100%;
  li {
    display: block;
    float: left;
    height: 150px;
    margin-right: 2.5%;
    width: 22%;
    a {
      vertical-align: middle;
      img {
        vertical-align: middle;
        width: 100%;
      }
    }
  }
}

