<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="#" class="image avatar"><img src="images/boulder_ruby_logo.jpg" alt="Boulder Ruby Logo" /></a>
    <h1>Welcome to <strong>Boulder Ruby</strong><br /></h1>
    <hr />
    <h2>A friendly community around Ruby in Colorado</h2>
  </div>
</header>
