---
title: Welcome to Boulder Ruby
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      <strong>Welcome!</strong>
    </h2>
  </header>

  <p>
    We are a Ruby group located in Boulder, Colorado and the surrounding area. We hold once a month meetups.
  </p>

  <p>
    On the second Wednesday of each month we have a <strong>Presentation Night</strong>. The schedule is linked below.
  </p>

  <h4>Join Us!</h4>

  <ul class="actions">
    <li><a href="https://lu.ma/boulder-ruby" class="button primary">View Presentation Night Schedule (Lu.ma)</a></li>
    <li><a href="https://www.youtube.com/channel/UCGb9Q9r7fsrNs-eL7txwLDg" class="button primary">View our Youtube Channel</a></li>
  </ul>
</section>

<!-- Two -->
<section id="two">
  <h2>Presentation Night Meetup Videos</h2>

  <ul class="actions">
    <li><a href="/talks-2019-to-2021.html" class="button">View 2019-2021 Talk Archive</a></li>
  </ul>

  <div class="row">
    <h3>January 2025</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_6UH33AN12I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>'Pull 45602' | <em>Lightning Talk</em></h3>
      <p>By Ben Randolph from Experience Builder</p>
    </article>
  </div>

  <div class="row">
    <h3>December 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/VInw1iPLfEE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The fundamentals of Turbo | <em>Lightning Talk</em></h3>
      <p>By  Ben Randolph from Experience Builder</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/7H4emnMyy3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Milestones | <em>Full Talk</em></h3>
      <p>By Brooke Kuhlmann from Alchemists​</p>
    </article>
  </div>

  <div class="row">
    <h3>September 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/LZAGkH1lGwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>
        Being A Senior Engineer | <em>Full Talk</em>
      </h3>
      <p>By Jesse Spevack from Stripe</p>
      <a href="https://docs.google.com/presentation/d/1c7g6pkL_2JMOv3uQ2SAeWpoBi_U0GoWfRb7meu81ly8/edit#slide=id.g281343f2c5b_0_0" target="_blank">Slides</a>
    </article>
  </div>

  <div class="row">
    <h3>August 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/xK7AzMV0E2M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>
        Using Amazon S3 Buckets with Rails | <em>Lightning Talk</em></h3>
      <p>By Kyle Brackman from Accelant</p>
    </article>
  </div>

  <div class="row">
    <h3>May 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/nxBPmC2rPT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Being an early engineer at a startup - Boulder Startup Week May 2024 Panel | <em>Full Talk</em></h3>
      <p>By Bekki Freeman | Chase Gray | Kasey McCurdy | Elnaz Moshfeghian. Moderated by Marty Haught</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/2BzmBwj0wdg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Using No-code to augment traditional web applications | <em>Full Talk</em></h3>
      <p>By Bekki Freeman | Chase from Ownify</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/5uCCn_c24FM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Atraction Mailbox - Why I Love Action Mailbox | <em>Full Talk</em></h3>
      <p>By Cody Norman, Independent Rails Consultant</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2024</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ywyZdCs9xCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3> How to make your application accessible (and keep it that way!) | <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/2d0TC6AZRjI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>
        Enhancing LLMs with Retrieval Augmented Generation | <em>Full Talk</em></h3>
      <p>By Andrei Bondarev of Langchain.rb</p>
      <a href="https://docs.google.com/presentation/d/1vhb_5FvuRlYOz5TFikNP8R77MVFid-yRbZNNivJfznw/edit#slide=id.g298391c0cfe_0_31" target="_blank">Slides</a>
    </article>
  </div>

  <div class="row">
    <h3>October 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/k21JxGoKgvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>
        <a href="https://rockymtnruby.dev/" target="_blank">Rocky Mountain Ruby 2023</a> Conference Recap | <em>Full Talk</em></h3>
      <p>By Bekki Freeman from Ownify</p>
    </article>
  </div>

  <div class="row">
    <h3>September 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/40DS5-RjB-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Generative AI and the Future of Programming for Rubyists | <em>Full Talk</em></h3>
      <p>By Scott Werner from Sublayer</p>
    </article>
  </div>

  <div class="row">
    <h3>July 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/mz7gAqugNL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Let's Learn More About Turbo by Deconstructing My Help Desk-Like Rails App | <em>Full Talk</em></h3>
      <p>By Andy Peters from Doorkeep</p>
    </article>
  </div>

  <div class="row">
    <h3>May 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/lwl8x_X0t5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Applying SRE Principles to CI/CD | <em>Full Talk</em></h3>
      <p>By Mel Kaulfuss from Buildkite</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/q4gez4VlPcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How I commit, with Lazygit | <em>Lightning Talk</em></h3>
      <p>By Ryan Stemmle from SOFware</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/wK_JtQErGn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Introducing Bridgetown | <em>Full Talk</em></h3>
      <p>By Jeremy Hinegardner of Dojo4</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/kHqd1meUtOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Composing a Flexible Dev Environment with Docker Compose <em>Full Talk</em></h3>
      <p>By Spike Ilacqua from Praecipio Consulting</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/8Zjp-J6UvFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Composing Micro-Frontends w/ Rails & (JS) Friends | <em>Lightning Talk</em></h3>
      <p>By Tim Tyrrell from Brandfolder</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/OeM-8YJ0m4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Hotwiring reCAPTCHA | <em>Lightning Talk</em></h3>
      <p>By Ben Randolph from Ownify</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/9tZE1yVpSjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ruby Function Composition | <em>Full Talk</em></h3>
      <p>By Brooke Kuhlmann of Alchemists</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2023</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ak0MXzQCPcw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The devise_saml_authenticable gem | <em>Lightning Talk</em></h3>
      <p>By Rylan Bowers from Benefix</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/x-Xt49oT2yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Accessible by Default <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2022</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/tI6M09wqAf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Panel on Ruby, Rails and Web development job market and career advice. | <em>Full Talk / Panel</em></h3>
      <p>
        <strong>Panelists:</strong><br />
        <ul>
          <li>Robyn Purvin, Partnership Manager at Turing</li>
          <li>Kyle Lamy, VP of Engineering at Maxwell</li>
          <li>Jerry Ramey, Mobilize CTO and co-founder</li>
          <li>Marty Haught, Director of Engineering at Hashicorp</li>
        </ul>
      </p>
    </article>
  </div>

  <div class="row">
    <h3>October 2022</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/LbOrAM3-Mnk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>BulmaFormRails Gem: Easy Pretty Forms For Non-Designers | <em>Lightning Talk</em></h3>
      <p>By Kevin Weller from Modern GeoSystems</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_syQXejv1XI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Sauté until cooked through: Infrastructure as Code using Chef and Ruby<em>Lightning Talk</em></h3>
      <p>By John Best</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2022</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/JAD2s2nMr_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we made our Ruby App Concurrent Golang Style! | <em>Full Talk</em></h3>
      <p>By Sudhindra Rao from JFrog</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2022</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/dDx0wEZOv58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3> You light up my life: How quantum physicists are leveraging light to break through to the next level of quantum computing | <em>Lightning Talk</em></h3>
      <p>By Akira Brand</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/LLt1ctv6SVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3> Breaking up the bundle | <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2022</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/jN6K1i44LCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The Yield Keyword in Ruby | <em>Lightning Talk</em></h3>
      <p>By Antonio King</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/0XIB9KF9w2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>OpenTelemetry for Rubyists | <em>Full Talk</em></h3>
      <p>By Francis Wang of NYC.rb</p>
    </article>

    <ul class="actions">
      <li><a href="/talks-2019-to-2021.html" class="button">View 2019-2021 Talk Archive</a></li>
    </ul>
  </div>
</section>

<section id="three">
  <h2>Presenting</h2>
  <p>
   We are always looking for speakers for the Boulder Ruby meetup. Presentations are expected to either be 15-35 minutes long with questions, or a 5-10 minute lightning talk. Topics can be either anything rubyish/rails or software development. (We've had presentations on k8s, machine learning and interviewing, for example.) See above for more examples of past presentations.
  </p>
  <p>
  It's a friendly group. Audience is typically 15-40 folks depending on topic/speaker.  The audience experience level varies from "I just graduated from Turing" to "I help run railsconf".
  </p>
  <p>
  If you are not in the Denver/Boulder area, we have the equipment for a remote presentation (Zoom or Google Hangouts).
  <a href='https://twitter.com/boulderruby'>Tweet us</a> or contact Dan Moore at mooreds+boulderb@gmail.com to discuss speaking, or if you have more questions.
  </p>
</section>

<section id="four">
  <h2>Resources / Things We Like</h2>
  <div class="row">
    <article class="col-6 col-12-small work-item">
      <a href="https://www.ncwit.org/" target="_blank">
        <img src="/images/orgs/ncwit-logo-header-200x51-1.png" class="image fit" alt="National Center for Women & Information Technology Logo" />
      </a>
    </article>
  </div>
</section>

<section id="five">
  <h2>Sponsors</h2>
  <div class="row">
    <article class="col-6 col-12-small work-item">
      <a href="https://www.mojotech.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/mojotech_logo.png" alt="Mojotech Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.mojotech.com/services/" target="_blank">Services</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://www.github.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/github_logo.png" alt="GitHub Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.github.careers/careers-home" target="_blank">Jobs</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://dnsimple.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/dnsimple-logo-blue.png" alt="DNSimple Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://dnsimple.com/jobs" target="_blank">Jobs</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://gusto.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/gusto_logo.png" alt="Gusto Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://gusto.com/about/careers" target="_blank">Jobs</a></strong>
      </h3>
    </article>
  </div>
  <h3>Testimonials</h3>
  <p>
    As a longtime supporter of the Boulder Ruby meetup, we at Technical Integrity are proud to have been part of this thriving community of talented Ruby and Rails developers. For years, we helped support gatherings that foster meaningful connections, career growth, and technical innovation. We’ve always admired the way this meetup brings people together to share knowledge, explore new ideas, and create a welcoming space for developers at every stage of their careers.
  </p>
  <p>
    Our mission at Technical Integrity is to empower professionals to achieve work-life balance, grow in their careers, and find opportunities that align with their values. Supporting Boulder.rb was a natural fit with these priorities, We’re excited to see the continued success of Boulder.rb and encourage others to support this valuable resource for the Ruby community.
  </p>
  <p>
    -- Dave Mayer, CEO and Founder of Technical Integrity
  </p>
</section>
