---
title: Welcome to Boulder Ruby
---

<img src="/images/boulder_ruby_logo.jpg" class="boulder-ruby-logo" role="img" />

<h1>
  Boulder Ruby Site Coming Soon! <br />
  <small>
    <em>(says the still optimistic developer)</em>
  </small>
</h1>


<h3>
  <strong>
    <a href="https://meetup.com/boulder_ruby_group/events">Boulder Ruby Meetup</a>
  </strong>
</h3>


<br />
<br />
<hr />

<br />
<br />
<h2>Sponsors</h2>

<ul class="sponsors-list">
  <li>
    <a href="https://haughtcodeworks.com" target="_blank">
      <img src="/images/sponsors/haught_codeworks_logo.png" alt="Haught Codeworks Logo" />
    </a>
  </li>

  <li>
    <a href="https://technicalintegrity.com/" target="_blank">
      <img src="/images/sponsors/technical_integrity_logo.png" alt="Technical Integrity Logo" />
    </a>
  </li>

  <li>
    <a href="https://www.trineo.com/" target="_blank">
      <img src="/images/sponsors/trineo_logo.png" alt="Trineo Logo" />
    </a>
  </li>

  <li>
    <a href="https://truecoach.co/" target="_blank">
      <img src="/images/sponsors/true_coach.png" alt="True Coach Logo" />
    </a>
  </li>
</ul>
