---
title: Welcome to Middleman
---


 <img src="/images/boulder_ruby_logo.jpg" class="middleman-logo" role="img" />

<h1>
  Boulder Ruby Site Coming Soon! <br />
  <small>
    <em>(says the still optimistic developer)</em>
  </small>
</h1>


<p>
  <strong>
    <a href="https://meetup.com/boulder_ruby_group/events">Boulder Ruby Meetup</a>
  </strong>
</p>
