---
title: Welcome to Boulder Ruby
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      <strong>Welcome!</strong>
    </h2>
  </header>

  <p>
    We are a Ruby Meetup group and hold twice a month meetups in Boulder, Colorado.
  </p>

  <p>
    On the second Wednesday of each month we hold <strong>Presentation Night</strong>.
  </p>

  <p>
    <strong>Coding Night</strong> is held the fourth Thursday of every month.
  </p>

  <h4>Join Us!</h4>

  <ul class="actions">
    <li><a href="https://meetup.com/boulder_ruby_group/events" class="button">View the Meetup Schedule</a></li>
  </ul>
</section>

<!-- Two -->
<section id="two">
  <h2>Recent Meetup Videos</h2>
  <div class="row">
    <h3>February</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aV-fkCKs5v4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Move Fast and Break Things</h3>
      <p>By Josh Thompson</p>
    </article>
  </div>
  <ul class="actions">
    <li>
      <a href="https://www.youtube.com/channel/UCGb9Q9r7fsrNs-eL7txwLDg?view_as=subscriber" class="button">
        Youtube Site
      </a>
    </li>
  </ul>
</section>

<section id="three">
  <h2>Sponsors</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://technicalintegrity.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/technical_integrity_logo.png" alt="Technical Integrity Logo" />
      </a>
    </article>

    <article class="col-6 col-12-xsmall work-item">
      <a href="https://www.trineo.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/trineo_logo.png" alt="Trineo Logo" />
      </a>
    </article>

    <article class="col-6 col-12-xsmall work-item">
      <a href="https://truecoach.co/" target="_blank" class="image fit">
        <img src="/images/sponsors/true_coach.png" alt="True Coach Logo" />
      </a>
    </article>

    <article class="col-6 col-12-xsmall work-item">
      <a href="https://haughtcodeworks.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/hcw_logo.png" alt="Haught Codeworks Logo" />
      </a>
    </article>

    <article class="col-6 col-12-xsmall work-item">
      <a href="https://kapost.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/kapost.png" alt="Kapost Logo" />
      </a>
    </article>
</section>
