---
title: Welcome to Boulder Ruby
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      <strong>Welcome!</strong>
    </h2>
  </header>

  <p>
    We are a Ruby Meetup group and hold twice a month meetups in Boulder, Colorado.
  </p>

  <p>
    On the second Wednesday of each month we hold <strong>Presentation Night</strong>.
  </p>

  <p>
    <strong>Coding Night</strong> is held the fourth Thursday of every month.
  </p>

  <h4>Join Us!</h4>

  <ul class="actions">
    <li><a href="https://meetup.com/boulder_ruby_group/events" class="button">View the Meetup Schedule</a></li>
    <li><a href="https://www.youtube.com/channel/UCGb9Q9r7fsrNs-eL7txwLDg" class="button">View our Youtube Channel</a></li>
  </ul>
</section>

<!-- Two -->
<section id="two">
  <h2>Presentation Night Meetup Videos</h2>

  <div class="row">
    <h3>September 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/40DS5-RjB-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Generative AI and the Future of Programming for Rubyists | <em>Full Talk</em></h3>
      <p>By Scott Werner from Sublayer</p>
    </article>
  </div>

  <div class="row">
    <h3>July 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mz7gAqugNL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Let's Learn More About Turbo by Deconstructing My Help Desk-Like Rails App | <em>Full Talk</em></h3>
      <p>By Andy Peters from Doorkeep</p>
    </article>
  </div>

  <div class="row">
    <h3>May 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lwl8x_X0t5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Applying SRE Principles to CI/CD | <em>Full Talk</em></h3>
      <p>By Mel Kaulfuss from Buildkite</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/q4gez4VlPcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How I commit, with Lazygit | <em>Lightning Talk</em></h3>
      <p>By Ryan Stemmle from SOFware</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wK_JtQErGn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Introducing Bridgetown | <em>Full Talk</em></h3>
      <p>By Jeremy Hinegardner of Dojo4</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kHqd1meUtOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Composing a Flexible Dev Environment with Docker Compose <em>Full Talk</em></h3>
      <p>By Spike Ilacqua from Praecipio Consulting</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8Zjp-J6UvFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Composing Micro-Frontends w/ Rails & (JS) Friends | <em>Lightning Talk</em></h3>
      <p>By Tim Tyrell from Brandfolder</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OeM-8YJ0m4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Hotwiring reCAPTCHA | <em>Lightning Talk</em></h3>
      <p>By Ben Randolph from Ownify</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9tZE1yVpSjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ruby Function Composition | <em>Full Talk</em></h3>
      <p>By Brooke Kuhlmann of Alchemists</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2023</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ak0MXzQCPcw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The devise_saml_authenticable gem | <em>Lightning Talk</em></h3>
      <p>By Rylan Bowers from Benefix</p>
    </article>

    <!-- <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TBD!" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>TBD: TBD<em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article> -->
  </div>

  <div class="row">
    <h3>November 2022</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tI6M09wqAf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Panel on Ruby, Rails and Web development job market and career advice. | <em>Full Talk / Panel</em></h3>
      <p>
        <strong>Panelists:</strong><br />
        <ul>
          <li>Robyn Purvin, Partnership Manager at Turing</li>
          <li>Kyle Lamy, VP of Engineering at Maxwell</li>
          <li>Jerry Ramey, Mobilize CTO and co-founder</li>
          <li>Marty Haught, Director of Engineering at Hashicorp</li>
        </ul>
      </p>
    </article>
  </div>

  <div class="row">
    <h3>October 2022</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LbOrAM3-Mnk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>BulmaFormRails Gem: Easy Pretty Forms For Non-Designers | <em>Lightning Talk</em></h3>
      <p>By Kevin Weller from Modern GeoSystems</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_syQXejv1XI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Sauté until cooked through: Infrastructure as Code using Chef and Ruby<em>Lightning Talk</em></h3>
      <p>By John Best</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2022</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JAD2s2nMr_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we made our Ruby App Concurrent Golang Style! | <em>Full Talk</em></h3>
      <p>By Sudhindra Rao from JFrog</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2022</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dDx0wEZOv58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3> You light up my life: How quantum physicists are leveraging light to break through to the next level of quantum computing | <em>Lightning Talk</em></h3>
      <p>By Akira Brand</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LLt1ctv6SVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3> Breaking up the bundle | <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2022</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jN6K1i44LCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>The Yield Keyword in Ruby | <em>Lightning Talk</em></h3>
      <p>By Antonio King</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0XIB9KF9w2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>OpenTelemetry for Rubyists | <em>Full Talk</em></h3>
      <p>By Francis Wang of NYC.rb</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2021</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6JMS0vGG3kY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>From ruby-ist to javascripter: A self-taught journey | <em>Lightning Talk</em></h3>
      <p>By Akira Brand from Emeritus Education</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A3CvJYyWNEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ruby Pattern Matching | <em>Full Talk</em></h3>
      <p>By Brooke Kuhlmann of the Alchemists</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2021</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oHL7Ymv1hXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>GitHub Buddy | <em>Lightning Talk</em></h3>
      <p>By Taylor Phillips</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/B6Hx5wgNFL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Crystal for Rubyists | <em>Full Talk</em></h3>
      <p>By Kirk Haines</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2021</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pRcamgNkvto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>A Certain Swagger | <em>Lightning Talk</em></h3>
      <p>By Zeke Clark</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JvnpWJWZd3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>View Components In The Wild | <em>Full Talk</em></h3>
      <p>By Joel Hawksley from Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dPWPyi-0K-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Learning to Love Writing Tests | <em>Lightning Talk</em></h3>
      <p>By Sienna Kopf from Turing</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UPR4DLi89zE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Rails!? Still!? | <em>Full Talk</em></h3>
      <p>By PJ Hagerty from DevRelate.io</p>
    </article>
  </div>

  <div class="row">
    <h3>October 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/K_KXWUwp_mI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Hacking Stacks | <em>Lightning Talk</em></h3>
      <p>By Tim Kleier from ASRC Federal</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UXdX3_Kgk6w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Modern interviewing panel | <em>Full Talk</em></h3>
      <p>By Paul Christopher / Patrick Armentrout / Brooke Kuhlmann</p>
    </article>
  </div>

  <div class="row">
    <h3>September 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_YYIt2GVXCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>GraphQL Federation | <em>Full Talk</em></h3>
      <p>By Julian Ramlal</p>
    </article>

  </div>

  <div class="row">
    <h3>July 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VX1vF8_4tWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ethics and programming - A simple light framework for developers | <em>Lightning Talk</em></h3>
      <p>By Kevin Glynn</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SrCMZGOvNgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>AMA w/ Brad Feld from Foundry Group | <em>Full Talk</em></h3>
      <p>By Brad Feld from Foundry Group</p>
    </article>
  </div>

  <div class="row">
    <h3>June 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OvpjPyRXbYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Alone Together: the Neuroscience of Connection and the Limitations of Digital Presence | <em>Lightning Talk</em></h3>
      <p>By Daniel Frampton</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EWdxs-fpiW0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>it { should be a_good_talk } | <em>Full Talk</em></h3>
      <p>By Paul Sadauskas from TextUs</p>
    </article>
  </div>

  <div class="row">
    <h3>May 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HEFBDqly4ms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Don't @ me! Instance Variable Performance in Ruby | <em>Full Talk</em></h3>
      <p>By Aaron Patterson from Shopify</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/82itjnXmHis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Design Patterns: The Key to Refactoring Rails MVC | <em>Lightning Talk</em></h3>
      <p>By John Travers</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HwSvcl9jFeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Migrating Rails from Heroku to AWS | <em>Full Talk</em></h3>
      <p>By Carleton DiLeo from Algoly</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1q3avWdeoPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Thinking Inside the Box: Checklist-Driven Development | <em>Lightning Talk</em></h3>
      <p>By Andrew Ek</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xSMgbiXQSv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Evolution of a Cloud Native Architecture | <em>Full Talk</em></h3>
      <p>By Mike Gehard</p>
    </article>
  </div>


  <div class="row">
    <h3>January 2020</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/y7e5Snlj7zM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Milestoner | <em>Lightning Talk</em></h3>
      <p>By Brooke Kuhlmann</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FT8uWluuwM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Encapsulating Views | <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2019</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/K5wFi-jtxdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we Teach Human Bias to Machines, and What To Do About It | <em>Full Talk</em></h3>
      <p>By Ursula Moreno-Vanderlaan from Techtonic</p>
    </article>
  </div>

  <div class="row">
    <h3>October 2019</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oUqZR3njjsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we deliver software at Brandfolder | <em>Full Talk</em></h3>
      <p>By Brett Nekolny - Head of Engineering @ Brandfolder</p>
    </article>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wJ7x11g93RY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Rails API performance and sparse fields | <em>Full Talk</em></h3>
      <p>By Logan Sears - Technical Product Manager & Sr. Software Engineer @ Brandfolder</p>
    </article>
  </div>

  <div class="row">
    <h3>August 2019</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kkLaYoKOa-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Better Service Objects With Dry-Transaction | <em>Full Talk</em></h3>
      <p>By Paul Sadauskas from Textus</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2019</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KRuUadQYo0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Taking Lead | <em>Full Talk</em></h3>
      <p>By Marty Haught</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2019</h3>

    <article class="col-12 work-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aV-fkCKs5v4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Move Fast and Break Things | <em>Full Talk</em></h3>
      <p>By Josh Thompson</p>
    </article>
  </div>
  <ul class="actions">
    <li>
      <a href="https://www.youtube.com/channel/UCGb9Q9r7fsrNs-eL7txwLDg?view_as=subscriber" class="button">
        Youtube Channel
      </a>
    </li>
  </ul>
</section>

<section id="three">
  <h2>Presenting</h2>
  <p>
   We are always looking for speakers for the Boulder Ruby meetup. Presentations are expected to either be 15-35 minutes long with questions, or a 5-10 minute lightning talk. Topics can be either anything rubyish/rails or software development. (We've had presentations on k8s, machine learning and interviewing, for example.) See above for more examples of past presentations.
  </p>
  <p>
  It's a friendly group. Audience is typically 15-40 folks depending on topic/speaker.  The audience experience level varies from "I just graduated from Turing" to "I help run railsconf".
  </p>
  <p>
  If you are not in the Denver/Boulder area, we have the equipment for a remote presentation (Google Hangouts).
  <a href='https://twitter.com/boulderruby'>Tweet us</a> or contact Dan Moore at mooreds+boulderb@gmail.com to discuss speaking, or if you have more questions.
  </p>
</section>

<section id="four">
  <h2>Resources / Things We Like</h2>
  <div class="row">
    <article class="col-6 col-12-small work-item">
      <a href="https://www.ncwit.org/" target="_blank">
        <img src="https://wpassets.ncwit.org/wp-content/uploads/2021/04/23201924/logo-header_temp.png" class="image fit" alt="National Center for Women & Information Technology Logo" />
      </a>
    </article>
  </div>
</section>

<section id="five">
  <h2>Sponsors</h2>
  <div class="row">
<!--
    <article class="col-6 col-12-small work-item">
      <a href="https://technicalintegrity.com/" target="_blank">
        <img src="/images/sponsors/technical_integrity_logo.png"  class="image fit" alt="Technical Integrity Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://loxo.co/technical-integrity" target="_blank">Jobs</a></strong>
      </h3>
    </article>


    <article class="col-6 col-12-small work-item">
      <a href="https://sagedigital.com/" target="_blank" class="image fit padded">
        <img src="/images/sponsors/sage-digital-square.svg" alt="Sage Digital Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.sagedigital.com/careers" target="_blank">Jobs</a></strong>
      </h3>
    </article>

    <article class="col-6 col-12-small work-item">
      <a href="https://recurly.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/recurly_logo.png" alt="Recurly Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://recurly.com/jobs/" target="_blank">Jobs</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://www.invoca.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/invoca_logo.png" alt="Invoca Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.invoca.com/company/careers#current-openings" target="_blank">Jobs</a></strong>
      </h3>
    </article>
 -->

    <!-- <article class="col-6 col-12-small work-item">
      <a href="https://scoutapm.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/scout_apm_logo.png" alt="Scout APM Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://scoutapm.com/careers" target="_blank">Jobs</a></strong>
      </h3>
    </article> 

    <article class="col-6 col-12-small work-item">
      <a href="https://www.sondermind.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/sondermind_logo.png" alt="SonderMind Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.sondermind.com/careers" target="_blank">Jobs</a></strong>
      </h3>
    </article>
     -->
    <article class="col-6 col-12-small work-item">
      <a href="https://www.mojotech.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/mojotech_logo.png" alt="Mojotech Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.mojotech.com/services/" target="_blank">Services</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://www.hashicorp.com/" target="_blank" class="image fit">
        <img src="/images/sponsors/hashicorp_logo.png" alt="HashiCorp Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://www.hashicorp.com/careers" target="_blank">Jobs</a></strong>
      </h3>
    </article>
    <article class="col-6 col-12-small work-item">
      <a href="https://fusionauth.io/" target="_blank" class="image fit">
        <img src="/images/sponsors/fusionauth_logo.png" alt="FusionAuth Logo" />
      </a>
      <h3 class="align-center">
        <strong><a href="https://fusionauth.io/download" target="_blank">Free Download</a></strong>
      </h3>
    </article>
</section>
