---
title: 2019 - 2021 Archive Meetup Videos
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      <strong>2019 - 2021 Archive Meetup Videos</strong>
    </h2>
  </header>
</section>

<!-- Two -->
<section id="two">
  <h2>Presentation Night Meetup Videos</h2>
  <div class="row">
    <h3>March 2021</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/6JMS0vGG3kY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>From ruby-ist to javascripter: A self-taught journey | <em>Lightning Talk</em></h3>
      <p>By Akira Brand from Emeritus Education</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/A3CvJYyWNEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ruby Pattern Matching | <em>Full Talk</em></h3>
      <p>By Brooke Kuhlmann of the Alchemists</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2021</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/oHL7Ymv1hXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>GitHub Buddy | <em>Lightning Talk</em></h3>
      <p>By Taylor Phillips</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/B6Hx5wgNFL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Crystal for Rubyists | <em>Full Talk</em></h3>
      <p>By Kirk Haines</p>
    </article>
  </div>

  <div class="row">
    <h3>January 2021</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/pRcamgNkvto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>A Certain Swagger | <em>Lightning Talk</em></h3>
      <p>By Zeke Clark</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/JvnpWJWZd3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>View Components In The Wild | <em>Full Talk</em></h3>
      <p>By Joel Hawksley from Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/dPWPyi-0K-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Learning to Love Writing Tests | <em>Lightning Talk</em></h3>
      <p>By Sienna Kopf from Turing</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/UPR4DLi89zE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Rails!? Still!? | <em>Full Talk</em></h3>
      <p>By PJ Hagerty from DevRelate.io</p>
    </article>
  </div>

  <div class="row">
    <h3>October 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/K_KXWUwp_mI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Hacking Stacks | <em>Lightning Talk</em></h3>
      <p>By Tim Kleier from ASRC Federal</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/UXdX3_Kgk6w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Modern interviewing panel | <em>Full Talk</em></h3>
      <p>By Paul Christopher / Patrick Armentrout / Brooke Kuhlmann</p>
    </article>
  </div>

  <div class="row">
    <h3>September 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_YYIt2GVXCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>GraphQL Federation | <em>Full Talk</em></h3>
      <p>By Julian Ramlal</p>
    </article>

  </div>

  <div class="row">
    <h3>July 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/VX1vF8_4tWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Ethics and programming - A simple light framework for developers | <em>Lightning Talk</em></h3>
      <p>By Kevin Glynn</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/SrCMZGOvNgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>AMA w/ Brad Feld from Foundry Group | <em>Full Talk</em></h3>
      <p>By Brad Feld from Foundry Group</p>
    </article>
  </div>

  <div class="row">
    <h3>June 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/OvpjPyRXbYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Alone Together: the Neuroscience of Connection and the Limitations of Digital Presence | <em>Lightning Talk</em></h3>
      <p>By Daniel Frampton</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/EWdxs-fpiW0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>it { should be a_good_talk } | <em>Full Talk</em></h3>
      <p>By Paul Sadauskas from TextUs</p>
    </article>
  </div>

  <div class="row">
    <h3>May 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/HEFBDqly4ms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Don't @ me! Instance Variable Performance in Ruby | <em>Full Talk</em></h3>
      <p>By Aaron Patterson from Shopify</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/82itjnXmHis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Design Patterns: The Key to Refactoring Rails MVC | <em>Lightning Talk</em></h3>
      <p>By John Travers</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/HwSvcl9jFeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Migrating Rails from Heroku to AWS | <em>Full Talk</em></h3>
      <p>By Carleton DiLeo from Algoly</p>
    </article>
  </div>

  <div class="row">
    <h3>March 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/1q3avWdeoPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Thinking Inside the Box: Checklist-Driven Development | <em>Lightning Talk</em></h3>
      <p>By Andrew Ek</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/xSMgbiXQSv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Evolution of a Cloud Native Architecture | <em>Full Talk</em></h3>
      <p>By Mike Gehard</p>
    </article>
  </div>


  <div class="row">
    <h3>January 2020</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/y7e5Snlj7zM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Milestoner | <em>Lightning Talk</em></h3>
      <p>By Brooke Kuhlmann</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/FT8uWluuwM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Encapsulating Views | <em>Full Talk</em></h3>
      <p>By Joel Hawksley of Github</p>
    </article>
  </div>

  <div class="row">
    <h3>November 2019</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/K5wFi-jtxdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we Teach Human Bias to Machines, and What To Do About It | <em>Full Talk</em></h3>
      <p>By Ursula Moreno-Vanderlaan from Techtonic</p>
    </article>
  </div>

  <div class="row">
    <h3>October 2019</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/oUqZR3njjsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>How we deliver software at Brandfolder | <em>Full Talk</em></h3>
      <p>By Brett Nekolny - Head of Engineering @ Brandfolder</p>
    </article>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/wJ7x11g93RY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Rails API performance and sparse fields | <em>Full Talk</em></h3>
      <p>By Logan Sears - Technical Product Manager & Sr. Software Engineer @ Brandfolder</p>
    </article>
  </div>

  <div class="row">
    <h3>August 2019</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/kkLaYoKOa-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Better Service Objects With Dry-Transaction | <em>Full Talk</em></h3>
      <p>By Paul Sadauskas from Textus</p>
    </article>
  </div>

  <div class="row">
    <h3>April 2019</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/KRuUadQYo0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Taking Lead | <em>Full Talk</em></h3>
      <p>By Marty Haught</p>
    </article>
  </div>

  <div class="row">
    <h3>February 2019</h3>

    <article class="col-12 work-item">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/aV-fkCKs5v4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Move Fast and Break Things | <em>Full Talk</em></h3>
      <p>By Josh Thompson</p>
    </article>
  </div>
  <ul class="actions">
    <li>
      <a href="https://www.youtube.com/channel/UCGb9Q9r7fsrNs-eL7txwLDg?view_as=subscriber" class="button">
        Youtube Channel
      </a>
    </li>
  </ul>
</section>
</section>
